<h1> Followers </h1>

<table>
  <thead>
    <tr>
      <th> Users </th>
      <th> Actions </th>
    </tr>
  </thead>
  <tbody>
    <% @followers.each do |f| %>
      <tr>
        <td><%= "#{f.full_name} (@#{f.username})" %></td>
        <td><%= follow_user(user: f) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= paginate @followers %>
</div>
