<div>
  <p>Followers: <%= @followers.size %></p>
  <p>Followings: <%= link_to @followings.size, users_followings_index_path %></p>
</div>

<% if user_signed_in? %>
  <%= link_to 'Create Tweet', new_tweet_path %>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
<% end %>
